bin/Debug/net7.0/Csharp.deps.json
bin/Debug/net7.0/Csharp.dll
bin/Debug/net7.0/Csharp.exe
bin/Debug/net7.0/Csharp.pdb
bin/Debug/net7.0/Csharp.runtimeconfig.json
obj/Csharp.csproj.nuget.dgspec.json
obj/Csharp.csproj.nuget.g.props
obj/Csharp.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/Csharp.AssemblyInfo.cs
obj/Debug/net7.0/Csharp.AssemblyInfoInputs.cache
obj/Debug/net7.0/Csharp.assets.cache
obj/Debug/net7.0/Csharp.csproj.AssemblyReference.cache
obj/Debug/net7.0/Csharp.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Csharp.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Csharp.dll
obj/Debug/net7.0/Csharp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/Csharp.genruntimeconfig.cache
obj/Debug/net7.0/Csharp.GlobalUsings.g.cs
obj/Debug/net7.0/Csharp.pdb
obj/Debug/net7.0/ref/Csharp.dll
obj/Debug/net7.0/refint/Csharp.dll
